.navigation {
  width: 200px;
}

.container {
  padding: 10px 0;

  a {
    outline: none;
    display: block;
    text-decoration: none;
    height: 28px;
    line-height: 27px;
    font-size: 12.5px;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #285473;

    &:hover {
      background: #e1e5eb;
      text-decoration: none;
      border-radius: 2px;
    }
  }
}
